<button mat-raised-button>Hello World</button>
<hr>
<br>
<!-- Typography: Deals with the style and appearance of texts
Here we are using the material display classes
-->
<div>
<div class="mat-display-4">This is display 4</div>
<div class="mat-display-3">This is display 3</div>
<div class="mat-display-2">This is display 2</div>
<div class="mat-display-1">This is display 1</div>

    <div class="mat-headline">This is a heading for h1</div>
       <div class="mat-title">This is a heading for h2</div>
<div class="mat-subheading-2">This is a heading for h3</div>
 <div class="mat-subheading1">This is a heading for h4</div>

<div class="mat-body-1">This is body text</div>
<div class="mat-body-2">This is bold body text</div>
<div class="mat-caption">This is caption text</div>

<div class="mat-typography"><!--This block gives the same result as the above mat-heading block-->
    <h1>This is a heading for h1</h1>
    <h2>This is a heading for h2</h2>
    <h3>This is a heading for h3</h3>
    <h4>This is a heading for h4</h4>
</div>
</div>
<hr>
<br>
<!--Buttons: To use button material, we must import MatbuttonModule to material.module.ts and add it to MaterialComponents array.-->
<div> <!--Normal buttons-->
<button mat-button>Click Me!</button>
<button mat-raised-button>Click Me!</button>
<button mat-flat-button>Click Me!</button>
<button mat-stroked-button>Click Me!</button>    
</div>
<div> <!--Round buttons-->
    <button mat-icon-button>Icon</button>
    <button mat-fab>Fab</button>
    <button mat-mini-fab>MiniFab</button>
</div>
<div><!--Button colors-->
    <button color="primary" mat-button>Primary</button>
    <button color="accent" mat-button>Accent</button>
    <!--Disable ripple effect while clicking-->
    <button color="warn" disableRipple mat-button>Warn</button>
    <button color="primary" mat-raised-button>Primary</button>
    <button color="accent" mat-raised-button>Accent</button>
    <button color="warn" mat-raised-button>Warn</button>
</div>
<hr>
<br>
<!--Button toggle-->
<div>
    <mat-button-toggle #toggleBtn>Toggle</mat-button-toggle>
    <!--We can access the state of the toggle button-->
    {{toggleBtn.checked}}
    <!--This results n the case where the button value is false by default. We can chang it by adding checked to the toggle button. We can also disable the rippll effect while clicking-->
    <br>
    <mat-button-toggle #togglebtn checked disableRipple>Toggle</mat-button-toggle>
    {{togglebtn.checked}}
    <!--We can aslo disable the button using disabled attribute-->
    <br>
    <mat-button-toggle #toggleButton disabled>Toggle</mat-button-toggle>
    <!--We can access the state of the toggle button-->
    {{toggleButton.checked}}
</div>
<br>
    <!--If we want to add a group of buttons-->

<div><div>
    <mat-button-toggle-group #toggleGroup="matButtonToggleGroup">
        <mat-button-toggle value="Angular">Angular</mat-button-toggle>
        <mat-button-toggle value="React">React</mat-button-toggle>
        <mat-button-toggle value="Vue">Vue</mat-button-toggle>
    </mat-button-toggle-group>
       <!--We are assigning matButtonToggleVariable totemplate variable toggleGroup so as to access the values of the buttons that we click -->
       {{toggleGroup.value}}
</div>
<br>
  <div>
      <!--As of now, they behave like radio buttonsie we can only select one at a time. To select multiple buttons, add multiple attribute to the toggle-group element. This is what we do in the case of a checkbox -->
      <mat-button-toggle-group #toggledGroup="matButtonToggleGroup" multiple>
        <mat-button-toggle value="Angular">Angular</mat-button-toggle>
        <mat-button-toggle value="React">React</mat-button-toggle>
        <mat-button-toggle value="Vue">Vue</mat-button-toggle>
    </mat-button-toggle-group>
    {{toggledGroup.value}}
  </div>
</div>
